@model AppDependencyInject_Lab.Models.ViewModels.HomeVM
@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Les Injection de dépendance</h1>
  <h2>Message du ZombieForecast Utility: @Model.ZombieForecast <span class="text-info"><strong></strong></span></h2>
  <h3>Les prédictions de Waze : à venir</h3>
</div>


